.block {
  height: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.block.stoploss {
  background-color: #ff9a8b03;
  background-image: linear-gradient(
    90deg,
    #c01f2bab 0%,
    #ff6a8894 55%,
    #ff99ac8f 100%
  );
}

.block.target {
  background-color: #85ffbd2b;
  background-image: linear-gradient(45deg, #5fcd919e 0%, #30c926b0 100%);
}
.percent {
  font-weight: bold;
  font-size: 12px;
}
.percent.stoploss {
  color: rgb(255 170 170);
}
.percent.target {
  color: rgb(130 243 130);
}

.line {
  position: absolute;
  width: 3px;
  border-radius: 100px;
}

.value {
  margin-left: -12px;
  margin-top: 0px;
  position: absolute;
  font-weight: bold;
  font-size: 12px;
}
